<div class="modal-dialog">

                <div class="modal-content">

                   <div class="modal-header">
                     <h4 class="modal-title">{{title || 'Prompt'}}</h4>
                      <button type="button" class="close" (click)="close()">&times;</button>

                   </div>

                   <div class="modal-body">
            <!--Form components-->
                <div class="card-block">

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group  has-required">
                            
                             <label for="nf-name">Name</label>
                            <input type="text" id="name" name="name" class="form-control" [(ngModel)]="manufacturer.name" required (ngModelChange)="nameErrors=''">
                            <div class="error-block">
                                <small *ngIf="nameErrors" class="text-danger">
                                   {{nameErrors}}
                                </small>
                            </div> 

                        </div>
                    </div>
                    
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                             <label for="nf-email">Email</label>
                            <input type="email" id="email" name="email" class="form-control" [(ngModel)]="manufacturer.email" email (ngModelChange)="emailErrors=false">
                            <div class="error-block">
                                <small *ngIf="emailErrors" class="text-danger">
                                   {{emailErrors}}
                                </small>                                  
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="nf-mobile">Mobile</label>
                            <input type="number" id="mobile" name="mobile" class="form-control" [(ngModel)]="manufacturer.mobile"  min="1" max="10">
                            <div class="error-block">
                                <small *ngIf="mobileErrors" class="text-danger">
                                   {{mobileErrors}}
                                </small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="nf-description">Description</label>
                            <textarea type="text" id="description" name="description" class="form-control" [(ngModel)]="manufacturer.description" placeholder="" rows="4"></textarea>
                        </div>
                    </div>
                </div>

                </div>
          
            <!---Form Components-->
                   </div>
                    <div class="modal-footer">
                     <button type="button" class="btn btn-success" (click)="apply()">Save</button>
                     <button type="button" class="btn btn-default" (click)="close()" >Cancel</button>
                  </div>
                  
                 </div>

                 

                </div>

