<!-- Category Prompte Component this is -->

<div class="modal-dialog">
                <div class="modal-content">

                   <div class="modal-header">
                     <h4 class="modal-title">{{title || 'Prompt'}}</h4>
                     <button type="button" class="close" (click)="close()">&times;</button>
                   </div>

                   <div class="modal-body">
            <!--Form components-->
            
                      <div class="card-block">

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group  has-required">
                            
                            <label for="nf-name">Name</label>
                            <input autofocus="" type="text" id="name" name="name" class="form-control"  [(ngModel)]="catg.name" pattern="[a-zA-Z][a-zA-Z0-9!@#$%^&*()\s]*" required>
                            <div class="error-block">
                                <small *ngIf="nameErr != ''" class="text-danger">
                                    {{nameErr}}
                                </small>                                                          
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group relative">
                            <label for="nf-name">Variety</label>
                            <input type="text" id="vname" name="vname"(ngModelChange)="message='';" class="form-control wdthset" [(ngModel)]="oBj.vname">
                            
                            <i (click)="addEelement()" title="Add Variety" class="fa fa-plus addimage"></i>
                            <div class="error-block">
                                <small *ngIf="message != ''" class="text-danger">
                                    {{message}}
                                </small>                                                          
                            </div>
                            <div class="block">
                                <div class="chip" *ngFor="let rcd of catg.variety; let i=index">
                                    <div class="chip">{{rcd}}
                                        <i class="close fa fa-times" (click)="removeEelement(i)"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
          
            <!---Form Components-->
                   </div>

                   <div class="modal-footer">
                     <button type="button" class="btn btn-success" (click)="apply()">Save</button>
                     <button type="button" class="btn btn-default" (click)="close()" >Cancel</button>
                   </div>

                 </div>
</div>