<div>
    <!-- loading section -->
    <div class="aligncenter_loader" *ngIf="isLoading">
        <div class="is-loading"><i class="page-loader"></i></div>
    </div>
    <!-- section ends  -->
    <div class="row" *ngIf="!isLoading">
        <div class="col-sm-12 col-md-9 col-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-6 col-12">
                            <strong>View Admin User</strong>
                        </div>
                        <div class="col-sm-6 col-12 text-right linehght">
                            <button class="btn btn-secondary pull-right widthset" type="button" [routerLink]="['/admin-users/list']">Back</button>
                        </div>
                    </div>
                </div>
                <div class="card-block userdetail">
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th width="20%">Name</th>
                                    <td data-label="Name">{{user.firstName}} {{user.lastName}}</td>
                                </tr>
                                <tr>
                                    <th width="20%">Role</th>
                                    <td data-label="Role">{{user.roleId?.name}}</td>
                                </tr>
                                <tr>
                                    <th width="20%">Email</th>
                                    <td data-label="Email">{{user.email}}</td>
                                </tr>
                                <tr>
                                    <th width="20%">Mobile</th>
                                    <td data-label="Mobile">{{user.mobile}}</td>
                                </tr>
                                <tr>
                                    <th width="20%">Market</th>
                                    <td data-label="Market">{{user.state}}</td>
                                </tr>
                                <tr>
                                    <th width="20%">Registered on</th>
                                    <td data-label="Registered on">{{user.createdAt | date:'dd/MM/yyyy'}}</td>
                                </tr>
                                <tr>
                                    <th width="20%">Modified on</th>
                                    <td data-label="Modified on">{{user.updatedAt | date:'dd/MM/yyyy'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-3 col-12">
            <div class="card actions" *ngIf="addEditDelete">
                <h2>Actions</h2>
                <ul>
                    <li style="cursor:pointer;" (click)="editUser(user.id)"><span>Edit Admin User</span></li>
                    <li style="cursor:pointer;" (click)="removeUser(user.id)"><span>Delete Admin User</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
