<!-- Loader div -->
<div *ngIf="isLoading" class="overlayloader">
    <div class="loader"></div>
</div>


<!-- <div class="land-wrapper animated fadeIn">       -->
<div class="land-wrapper">      
  
    <div class="row">
        <div class="col-lg-12">
        <!-- loading section -->
            <div class="aligncenter_loader" *ngIf="isPageLoading">
                <div class="is-loading"><i class="page-loader"></i></div>        
            </div>
            <ngx-flash-messages></ngx-flash-messages>
            <!-- section ends  -->
            <div class="card" *ngIf="!isPageLoading">

                 <div class="card-header">
                    <div class="row">
                        <div class="col-sm-3 col-12">
                            <form action="#" class="ng-untouched ng-pristine ng-valid" method="get">
                             <div class="flex">
                                <!-- <input class="form-control" name="search" (keyup)="search()" [(ngModel)]="searchTerm" placeholder="Search" type="text"> -->
                                <input class="form-control" name="search" [(ngModel)]="searchTerm"   placeholder="Search" type="text">
                                <span class="input-group-btn">
                                <button class="btn btn-flat" id="search-btn" (click)="search($event, 'button')" name="search" type="submit"><i class="fa fa-search"></i> </button>
                                </span>
                            </div>
                            </form>
                        </div>
                        <div class="col-sm-9 col-12 text-right linehght">
                            <button *ngIf="addEditDelete" type="button" class="btn btn-success btnadd" [routerLink]="['/land/add']">Add Land</button>
                            <div class="icns">
                              <a><img src="assets/img/pdf.png" (click)="downloadPDF()" style="cursor: pointer;"></a>
                              <a (click)="downloadCSV()" style="cursor:pointer;"><img src="assets/img/xls.png"></a>
                            </div>
                        </div>
                    </div> <!-- .row -->
                </div><!-- .card-header -->

               
                <div class="card-block">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-condensed" [mfData]="data" 
                    #mf="mfDataTable" 
                        [mfRowsOnPage]="rowsOnPage"
                        [(mfSortBy)]="sortBy" 
                        [(mfSortOrder)]="sortOrder" 
                        [mfActivePage]="activePage" 
                        (mfOnPageChange)="onPageChange($event)"
                        [mfIsServerPagination]="true" 
                        [(mfAmountOfRows)]="itemsTotal"
                        (mfSortOrderChange)="onSortOrder($event)" >
                        <thead>
                            <tr>
                                <th width="10%">Image</th>
                                <th width="30%">Owner Name
                                <!-- <mfDefaultSorter by="name">Owner Name
                                 <i *ngIf="sortOrder == 'asc' && sortBy == 'user.firstName'" class="fa fa-sort-asc" aria-hidden="true"></i>
                                 <i *ngIf="sortOrder == 'desc' && sortBy == 'user.firstName'" class="fa fa-sort-desc" aria-hidden="true"></i>
                                </mfDefaultSorter>  -->
                                </th>
                                <!-- <th width="20%">
                                    <mfDefaultSorter by="location">Location
                                     <i *ngIf="sortOrder == 'asc' && sortBy == 'location'" class="fa fa-sort-asc" aria-hidden="true"></i>
                                     <i *ngIf="sortOrder == 'desc' && sortBy == 'location'" class="fa fa-sort-desc" aria-hidden="true"></i>
                                    </mfDefaultSorter>
                                </th> -->
                                <th width="20%">
                                    <mfDefaultSorter by="district">District
                                     <i *ngIf="sortOrder == 'asc'  && sortBy == 'district'" class="fa fa-sort-asc" aria-hidden="true"></i>
                                     <i *ngIf="sortOrder == 'desc'  && sortBy == 'district'" class="fa fa-sort-desc" aria-hidden="true"></i>
                                    </mfDefaultSorter>
                                </th>
                                <th width="20%">
                                    <mfDefaultSorter by="rentSell">Land For
                                     <i *ngIf="sortOrder == 'asc' && sortBy == 'rentSell'"  class="fa fa-sort-asc" aria-hidden="true"></i>
                                     <i *ngIf="sortOrder == 'desc' && sortBy == 'rentSell'"  class="fa fa-sort-desc" aria-hidden="true"></i>
                                    </mfDefaultSorter>
                                </th>
                                <th width="20%">                                     
                                     <mfDefaultSorter by="area">Area
                                         <i *ngIf="sortOrder == 'asc' && sortBy == 'area'"  class="fa fa-sort-asc" aria-hidden="true"></i>
                                         <i *ngIf="sortOrder == 'desc' && sortBy == 'area'"  class="fa fa-sort-desc" aria-hidden="true"></i>
                                    </mfDefaultSorter>

                                </th> 
                                <th width="15%">
                                    <mfDefaultSorter by="expected_price">Expected Price
                                    <i *ngIf="sortOrder == 'asc'  && sortBy == 'expected_price'"  class="fa fa-sort-asc" aria-hidden="true"></i>
                                    <i *ngIf="sortOrder == 'desc'  && sortBy == 'expected_price'"  class="fa fa-sort-desc" aria-hidden="true"></i>
                                    </mfDefaultSorter>
                                </th>
                                
                                <th width="10%">Actions</th>
                            </tr>
                        </thead>                        
                        <tbody>
                           <tr *ngIf="itemsTotal == 0">
                                <td colspan="7">No record to display.</td>
                            </tr>  
                            <tr *ngFor="let land of mf.data">                        
                                <td data-label="Image">
                                    {{!land.images || !land.images[0] ? '-' : ''}}
                                        <div class="thumbnail" *ngIf="land.images && land.images[0]">
                                            <img src="{{_host}}/images/lands/{{land.images[0]}}">
                                        </div>
                                    </td>
                                <td data-label="Owner Name"><a href="javascript:void(0);" (click)="viewLand(land.id)">{{land.user?.firstName}} {{land.user?.lastName}}</a></td>
                                <!-- <td>{{land.location}}</td> -->
                                <td data-label="District">{{land.district}}</td>
                                <td data-label="Land For">{{land.rentSell}}</td>
                                <td>{{land.area}} Sq.{{land.unit}}</td>
                                <td data-label="Expected Price"><i class="fa fa-rupee"></i>{{land.expected_price}}<span *ngIf="land.rentSell == 'Lease'">/{{land.priceunit}}</span></td>
                                

                                <td data-label="Actions">                                    
                                    <button [disabled]="!addEditDelete" (click)="sendUpdateLand(land.id)" class="btn btn-success" title="Edit" style="padding:1px 4px"><i class="fa fa-pencil"></i></button>
                                    <button [disabled]="!addEditDelete" (click)="removeLand(land.id)" class="btn btn-danger orange" title="Delete" style="padding: 1px 4px"><i class="fa fa-trash"></i></button>                                    
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="7">
                                    <div class="pagination-section" *ngIf="itemsTotal > 0">
                                        <div class="row-on-page">
                                                <label class="label-control">Show</label>
                                                &nbsp;
                                                <select class="input-sm" name="itemsOnPage"  [(ngModel)]="itemsOnPage"  (change)="onRowsChange()">
                                                    <option [ngValue]="5">5</option>
                                                    <option [ngValue]="10">10</option>
                                                    <option [ngValue]="25">25</option>
                                                    <option [ngValue]="50">50</option>
                                                    <option [ngValue]="100">100</option>
                                                </select>
                                                &nbsp;
                                                <label class="label-control">entries</label>
                                                &nbsp; &nbsp;
                                            <span>Showing {{activePage * rowsOnPage - rowsOnPage + 1}} to {{(activePage * rowsOnPage) < itemsTotal ? (activePage * rowsOnPage):itemsTotal }} of {{itemsTotal}} entries</span>
                                            </div>
                                            <div class="text-right">
                                                <mfBootstrapPaginator></mfBootstrapPaginator>   
                                            </div>
                                        <div style="clear: both;"></div>
                                    </div>  
                                </td>    
                            </tr>                            
                        </tfoot>
                    </table>  
                    </div>                           
                </div>
            </div>
        </div>
    </div>
</div>
