<div>
    <!-- loading section -->
    <div class="aligncenter_loader" *ngIf="isLoading">
        <div class="is-loading"><i class="page-loader"></i></div>
    </div>
    <!-- section ends  -->
    <div class="card" *ngIf="!isLoading">
        <div class="card-header">
            <div class="row">
                <div class="col-sm-6 col-12">
                    <strong>View Manufacturer</strong>
                </div>
                <div class="col-sm-6 col-12 text-right linehght">
                    <button type="button" class="btn btn-secondary" [routerLink]="['/manufacturer/list']">Back</button>
                    <button *ngIf="addEditDelete" type="button" class="btn btn-success pull-right" (click)="editManufacturer(manufacturer.id)">Edit Manufacturer</button>
                    &nbsp;
                </div>
            </div>
        </div>
        <div class="card-block viewmode">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="nf-name">Name</label>
                        <p>{{manufacturer.name}}</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="nf-email">Email</label>
                        <p>{{manufacturer.email ? manufacturer.email : '-'}}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="nf-mobile">Mobile</label>
                        <p>{{manufacturer.mobile ? manufacturer.mobile : '-'}}</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="nf-description">Description</label>
                        <p>{{manufacturer.description ? manufacturer.description : '-'}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
