<div>
    <div *ngIf="isLoading" class="overlayloader">
        <div class="loader"></div>
    </div>
    <!-- loading section -->
    <div class="aligncenter_loader" *ngIf="isPageLoading">
        <div class="is-loading"><i class="page-loader"></i></div>        
    </div>
    <!-- loading section ends  -->
    <div class="card" *ngIf="!isPageLoading">
        <div class="card-header">
            <strong>{{cropID ? 'Edit' : 'Add'}} Crop</strong>
        </div>
        <!-- form to add or update crop -->
        <form role="form" (ngSubmit)="save()" #addCropForm="ngForm">
        <div class="card-block">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="nf-name">Crop Name</label>
                            <input autofocus type="text" id="name" name="name" class="form-control" placeholder="" #name="ngModel" [(ngModel)]="crop.name" pattern="[a-zA-Z][a-zA-Z0-9!@#$%^&*()\s]*" required>
                            <div class="error-block">
                                <small *ngIf="name.errors?.required && name.touched" class="text-danger">
                                    Crop name is required.
                                </small>
                                <small *ngIf="name.errors?.pattern && name.touched" class="text-danger">
                                    Invalid input.
                                </small>                                                          
                            </div>    
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="seller">Seller</label>
                            <select id="seller" name="seller" class="form-control" size="1" [(ngModel)]="crop.sellerID">
                                <option value="">Please select</option>                                
                                <option *ngFor="let obj of sellers" value="{{obj.id}}">
                                    {{obj.username}}
                                </option>       
                            </select>
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group has-required relative">
                            <label for="nf-category">Category</label>
                            <select id="nfcategory" name="nfcategory" class="form-control wdthset" size="1" (change)="setVarieties( cat )" #nfcategory="ngModel" [(ngModel)]="crop.categoryID" required>
                                <option value="">Please select</option>
                                <option *ngFor="let cat of category" value="{{cat.id}}">{{cat.name}}</option>
                            </select>
                             <i (click)="showPrompt()" title="Add Category" class="fa fa-plus addimage"></i>
    
                            <div class="error-block">
                                <small *ngIf="nfcategory.errors?.required && nfcategory.touched" class="text-danger">
                                    Category is required.
                                </small>                                                          
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-variety">Variety</label>
                            <select id="variety" name="variety" class="form-control" [(ngModel)]="crop.variety" size="1">
                                <option value="">Please select</option>
                                <option *ngFor="let variety of varieties" [value]="variety">
                                    {{variety}}
                                </option>                                  
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="address">Address</label>
                            <input type="text" id="address" name="address" #address="ngModel"  class="form-control" [(ngModel)]="crop.address" placeholder="" required />
                            <div class="error-block">
                                <small *ngIf="address.errors?.required && address.touched" class="text-danger">
                                    Address is required.
                                </small>                              
                            </div> 
                        </div>                                    
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="nf-city">City/Village</label>
                            <input type="text" id="nf-city" name="city" #city="ngModel" pattern="[a-zA-Z][a-zA-Z0-9!@#$%^&*()\s]*" class="form-control" [(ngModel)]="crop.city" placeholder="" required>
                            <div class="error-block">
                                <small *ngIf="city.errors?.required && city.touched" class="text-danger">
                                    City is required.
                                </small>
                                <small *ngIf="city.errors?.pattern && city.touched" class="text-danger">
                                    Invalid input.
                                </small>                                                           
                            </div> 
                        </div>
                    </div> 
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="state">State</label>
                            <select id="state" name="state" (change)="setDistrict();crop.district='';"  [(ngModel)]="crop.state" placeholder="" required class="form-control" size="1" #state="ngModel" required>
                                <option value="">Please select</option>
                                <option *ngFor="let state of states" [value]="state.stateName">
                                    {{state.stateName}}
                                </option>                                       
                            </select>
                            <div class="error-block">
                                <small *ngIf="state.errors?.required && state.touched" class="text-danger">
                                    State is required.
                                </small>                                                        
                            </div> 
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="district">District</label>
                            <select id="district" name="district" [disabled]="!crop.state" [(ngModel)]="crop.district" placeholder="" required class="form-control disable" size="1" #district="ngModel" required>
                                <option value="">Please select</option>
                                <option *ngFor="let district of districts" [value]="district.districtName">
                                    {{district.districtName}}
                                </option>                                       
                            </select>
                            <div class="error-block">
                                <small *ngIf="district.errors?.required && district.touched" class="text-danger">
                                    District is required.
                                </small>                                                        
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="nf-pincode">Pin Code </label>
                            <input type="number" id="nf-pincode" name="pincode" #pincode="ngModel" class="form-control" [(ngModel)]="crop.pincode" min="1" max="999999" placeholder="" required>
                            <div class="error-block">
                                <small *ngIf="pincode.errors?.required && pincode.touched" class="text-danger">
                                    Pin Code is required.
                                </small>                                
                                <small *ngIf="pincode.errors?.min && pincode.touched" class="text-danger">
                                    Minimum value should be 1.
                                </small>                                
                                <small *ngIf="pincode.errors?.max && pincode.touched" class="text-danger">
                                    Maximum 6 digit allow.
                                </small>                                                          
                            </div> 
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group has-required">
                         <label for="nf-qty">Quantity</label>
                          <div class="flex">
                              <input type="number" id="quantity" name="quantity" class="form-control" aria-label="Text input with dropdown button" #quantity="ngModel" [(ngModel)]="crop.quantity" min="1" max="9999999999999998" placeholder="" required>
                               <div class="input-group-btn">
                                  <select id="select4" name="select4" class="btn btn-secondary dropdown-toggle" [(ngModel)]="crop.quantityUnit" required>
                                    <option value="Kg">Kg</option>
                                    <option value="Quintal">Quintal</option>
                                    <option value="Tonnes">Tonnes</option>
                                    <option value="Count">Count</option>
                                    <option value="Dozen">Dozen</option>
                                 </select>
                              </div>
                            </div>
                            <div class="error-block">
                                <small *ngIf="quantity.errors?.required && quantity.touched" class="text-danger">
                                    Quantity is required.
                                </small>
                                <small *ngIf="quantity.errors?.min && quantity.touched" class="text-danger">
                                    Minimum quantity should be 1.
                                </small>                                                          
                                <small *ngIf="quantity.errors?.max && quantity.touched" class="text-danger">
                                    Maximum quantity is allow upto 16 digit.
                                </small> 
                            </div>                       
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="nf-price">Offer Price</label>
                            <div class="relative">
                            <div class="icnposition"><i class="fa fa-rupee"></i></div>
                            <input type="number" id="nfprice" name="nfprice" class="form-control pleft25" #nfprice="ngModel" [(ngModel)]="crop.price" placeholder="" required="" min="1" max="9999999999999998">
                            </div>
                            <div class="error-block">
                                <small *ngIf="nfprice.errors?.required && nfprice.touched" class="text-danger">
                                    Offer Price is required.
                                </small>
                                <small *ngIf="nfprice.errors?.min && nfprice.touched" class="text-danger">
                                    Minimum offer price should be 1.
                                </small>                                                          
                                <small *ngIf="nfprice.errors?.max && nfprice.touched" class="text-danger">
                                    Maximum offer price is allow upto 16 digit.
                                </small>                                                           
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-grade">Quality</label>
                            <form class="grade">
                                <div class="btn-group" data-toggle="">
                                   <label class="btn btn-default" [ngClass]="{'active': crop.grade == 'A+'}">
                                          <input name="grade" value="A+" type="radio" [(ngModel)]="crop.grade" >A+
                                    </label>
                                    <label class="btn btn-default" [ngClass]="{'active': crop.grade == 'A'}">
                                         <input name="grade" value="A" type="radio" [(ngModel)]="crop.grade">A
                                    </label>
                                    <label class="btn btn-default" [ngClass]="{'active': crop.grade == 'B'}">
                                       <input name="grade" value="B" type="radio" [(ngModel)]="crop.grade">B
                                    </label>
                                    <label class="btn btn-default" [ngClass]="{'active': crop.grade == 'C'}">
                                        <input name="grade" value="C" type="radio" [(ngModel)]="crop.grade">C
                                    </label>
                                    <label class="btn btn-default" [ngClass]="{'active': crop.grade == 'D'}">
                                        <input name="grade" value="D" type="radio" [(ngModel)]="crop.grade">D
                                    </label>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="availablefrom">Available From (dd/mm/yyyy)</label>
                            <div class="input-group form-control">
                                <ng2-datepicker name="date" [options]="options" id="nfavailibility" name="nfavailibility" [(ngModel)]="crop.availableFrom"></ng2-datepicker>
                             </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                         <label for="nf-qty">Availability Period</label>
                          <div class="flex">
                              <input type="number" id="availablePeriod" name="availablePeriod" class="form-control" aria-label="Text input with dropdown button" #availablePeriod="ngModel" [(ngModel)]="crop.availablePeriod" min="1" max="9999999999999998" placeholder="">
                               <div class="input-group-btn">
                                  <select id="select5" name="select5" class="btn btn-secondary dropdown-toggle" [(ngModel)]="crop.availableUnit">
                                    <option value="Days">Days</option>
                                    <option value="Month">Month</option>
                                    <option value="Year">Year</option>
                                 </select>
                              </div>
                            </div>
                            <div class="error-block">
                                <small *ngIf="availablePeriod.errors?.required && availablePeriod.touched" class="text-danger">
                                    Available Period is required.
                                </small>
                                <small *ngIf="availablePeriod.errors?.min && availablePeriod.touched" class="text-danger">
                                    Minimum 1 Day is required.
                                </small>                                                          
                                <small *ngIf="availablePeriod.errors?.max && availablePeriod.touched" class="text-danger">
                                    Maximum digit allow upto 16.
                                </small> 
                            </div>                       
                        </div>
                    </div>
                </div>
                <div class="row p10">
                    <div class="col-sm-6">
                       <div class="form-group has-required">
                            <label for="nf-supplyAbility">Supply Ability</label>
                            <div class="radiobuttons_top">
                            <div class="form-group pull-left">
                                <div class="radio_button">
                                    <input type="radio"  name="supplyAbility" class="" id="nf-rentslell" value="Yes"  [(ngModel)]="crop.supplyAbility" checked required>
                                    <label for="nf-rentslell">Yes</label>
                                </div>
                            </div>
                            <div class="form-group pull-left">
                                <div class="radio_button">                     
                                    <input type="radio" name="supplyAbility" class="" id="supplyAbility" value="No"  [(ngModel)]="crop.supplyAbility" (change)="crop.supplyArea = '';crop.supplyRange='';" required>
                                    <label for="supplyAbility">No</label>
                                </div>
                            </div>
                            </div>
                        </div>                    
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group" [ngClass]="{'has-required': crop.supplyAbility == 'Yes'}">
                            <label for="nf-supplyarea">Supply Area</label>
                            <select id="nfsupplyarea" name="nfsupplyarea" class="form-control disable" #nfsupplyarea="ngModel" [(ngModel)]="crop.supplyArea" size="1" [disabled]="crop.supplyAbility == 'No'" required>
                                <option value="">Please select</option>
                                <option value="Within State">Within State</option>
                                <option value="Anywhere">Anywhere</option>
                            </select>
                            <div class="error-block">
                                <small *ngIf="nfsupplyarea.errors?.required && nfsupplyarea.touched" class="text-danger">
                                    Supply Area is required.
                                </small>                                                          
                            </div> 
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                         <div class="form-group" [ngClass]="{'has-required': crop.supplyAbility == 'Yes'}">
                            <label for="kmrange">Supply Range (km)</label>
                            <input type="number" id="nfkmrange" name="nfkmrange" class="form-control" [(ngModel)]="crop.supplyRange" placeholder=""  #nfkmrange="ngModel" [disabled]="crop.supplyAbility == 'No'" min="1" max="9999999999999998" required>
                            <div class="error-block">
                                <small *ngIf="nfkmrange.errors?.required && nfkmrange.touched" class="text-danger">
                                    Supply Range is required.
                                </small>
                                <small *ngIf="nfkmrange.errors?.min && nfkmrange.touched" class="text-danger">
                                    Minimum Range should be 1 km.
                                </small>                                                          
                                <small *ngIf="nfkmrange.errors?.max && nfkmrange.touched" class="text-danger">
                                    Maximum Range is allow upto 16 digit.
                                </small>                                                           
                            </div> 
                       </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="nf-paymentTerms">Payment Preference</label>
                           <form class="grade">
                                <div class="btn-group">
                                    <label class="btn btn-default" [ngClass]="{'active': crop.paymentPreference == 'COD'}">
                                        <input name="payment_mode" value="COD" type="radio" [(ngModel)]="crop.paymentPreference">COD
                                    </label>
                                    <label class="btn btn-default" [ngClass]="{'active': crop.paymentPreference == 'Cheque'}">
                                        <input name="payment_mode" value="Cheque" type="radio" [(ngModel)]="crop.paymentPreference">Cheque
                                    </label>
                                    <label class="btn btn-default" [ngClass]="{'active': crop.paymentPreference == 'Net Banking'}">
                                        <input name="payment_mode" value="Net Banking" type="radio" [(ngModel)]="crop.paymentPreference">Net Banking
                                    </label>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-image" title="You can upload maximum 5 images">Image</label>
                            <input [disabled]="!crop.images || crop.images.length==5" #myInput type="file" name="file-7[]" id="file-7" class="inputfile inputfile-6" data-multiple-caption="{count} files selected" imageUpload
                (imageSelected)="uploadImage($event)"
                 accept="image/jpg, image/jpeg, image/png"/>
                            <label for="file-7"><span></span> <strong><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg> Upload image</strong></label>
                            <!-- <i class="fa fa-plus addimage"></i> -->
                        </div>
                        <div class="thumbnail pointer-custom" *ngFor="let image of crop.images" (click)="viewImage(_host+'/images/crops/'+image)">
                            <img src="{{_host}}/images/crops/{{image}}">
                            <i class="close fa fa-times" (click)="removeImage(image)"></i>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                       <div class="form-group has-required">
                            <label for="nf-verified">Verified</label>
                            <div class="radiobuttons_top">
                            <div class="form-group pull-left">
                                <div class="radio_button">
                                    <input type="radio"  name="verified" class="" id="nf-verified" value="Yes"  [(ngModel)]="crop.verified" checked required>
                                    <label for="nf-verified">Yes</label>
                                </div>
                            </div>
                            <div class="form-group pull-left">
                                <div class="radio_button">                     
                                    <input type="radio" name="verified" class="" id="verified" value="No"  [(ngModel)]="crop.verified" required>
                                    <label for="verified">No</label>
                                </div>
                            </div>
                            </div>
                        </div>                    
                    </div>
                    <div class="col-sm-6 ">
                        <div class="form-group">
                            <label for="nf-description">Description</label>
                            <textarea type="text" id="description" name="description" class="form-control" [(ngModel)]="crop.description" placeholder="" rows="4"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-terms">Terms & Conditions</label>
                            <textarea type="text" id="nfterms" name="nfterms" class="form-control" [(ngModel)]="crop.terms" placeholder="" rows="4"></textarea> 
                        </div>
                    </div>
                </div>
        </div>

        <div class="card-footer">
                    <button type="reset" class="btn btn-secondary whiteclr" [routerLink]="['/crops/list']"> Cancel</button>
                    <button type="submit" class="pull-right btn btn-primary orangeclr" [disabled]="!addCropForm.valid"  [class.disabled]="isClickedOnce"  (click)="isClickedOnce = true">{{cropID ? 'Update' : 'Save'}}</button>
                </div>
          </form>
    </div>
</div>
