
<div class="input-wrapper">    
 

<!-- loading section -->
    <div class="aligncenter_loader" *ngIf="isLoading">
        <div class="is-loading"><i class="page-loader"></i></div>        
    </div>
    <!-- section ends  -->

    <div class="card" *ngIf="!isLoading">
     <div class="card-header">
            <div class="row">
                <div class="col-sm-6 col-12">
                   <strong>View Land</strong>           
                </div>
                <div class="col-sm-6 col-12 text-right linehght">
                   <button type="button" class="btn btn-secondary" [routerLink]="['/land/list']">Back</button>  

                   <button *ngIf="addEditDelete" type="button" class="btn btn-success pull-right" (click)="updateLand(land.id)">Edit Land</button>            
                 &nbsp;
                </div>
            </div>
        </div>

        
        <div class="card-block viewmode">
            <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-name">Owner Name</label>
                            <p>{{land.user?.firstName ? land.user?.firstName : '-' }} {{land.user?.lastName ? land.user?.lastName : '-' }}</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-rentsell">Land For</label>
                            <p>{{land.rentSell}}</p>
                        </div>
                    </div>
            </div>
            <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-location">Available Date</label>
                            <p>{{land.avail_date?.momentObj | date:'dd/MM/yyyy'}}</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-area">Availability Period</label>
                            <p>{{land.periods ? land.periods : "-"}} 
                            <span *ngIf="land.periods">/{{land.periodsunit}}</span></p>
                        </div>
                    </div>
            </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-location">Address</label>
                            <p>{{land.location ? land.location : '-'}}</p>
                        </div>
                    </div>
                   <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-location">City/Village</label>
                            <p>{{land.city ? land.city : '-'}}</p>
                        </div>
                    </div>
                   
                </div>
                 <div class="row">
                     <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-district">District</label>
                            <p>{{land.district ? land.district : '-'}}</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-state">State</label>
                            <p>{{land.state ? land.state : "" }}</p>
                        </div>
                    </div>
                    
                    
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-area">Area</label>
                            <p>{{land.area}} Sq. {{land.unit}}</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-khasrano">Khasra no</label>
                            <p>{{land.khasra_no ? land.khasra_no : '-'}}</p>
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-expectedprice">Expected Price</label>
                            <p><i class="fa fa-rupee"></i> {{land.expected_price}}<span *ngIf="land.rentSell == 'Lease'">/{{land.priceunit}}</span>  </p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-description">Description</label>
                            <p>{{land.description}}</p>
                        </div>
                    </div>
                    
                </div>   

                 <div class="row">

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-termsConditions">Verified</label>
                            <p>{{land.verified}}</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-image">Image</label>
                        </div>
                        {{!land.images || !land.images[0] ? '-' : ''}}
                        <div class="thumbnail pointer-custom" *ngFor="let image of land.images" (click)="viewImage(_host+'/images/lands/'+image)">
                            <img src="{{_host}}/images/lands/{{image}}">
                        </div>
                    </div>

                 </div>           
        </div>
    </div> <!-- .card -->
</div> <!-- .land-wrapper -->