<div class="equipment-wrapper">
 
    <!-- loading section -->
    <div class="aligncenter_loader" *ngIf="isLoading">
        <div class="is-loading"><i class="page-loader"></i></div>        
    </div>
    <!-- section ends  -->

    <div class="card" *ngIf="!isLoading">
        <div class="card-header">
            <strong>{{action}} Equipment</strong>
        </div>

         <form role="form" (ngSubmit)="submitEquipment()" #addEquipmentForm="ngForm">
        <div class="card-block">
           
                
               <div *ngIf="showMessage" class="alert alert-success alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert"  (click)="closeMessage()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>Success</strong> Equipment added successfully.
                </div>
                
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="nf-name">Equipment Name</label>
                            <input type="text" autofocus id="name"  maxlength="20" name="name" #name="ngModel" pattern="[a-zA-Z][a-zA-Z0-9!@#$%^&*()\s]*" class="form-control" [(ngModel)]="equipment.name" required>                            
                            <div class="error-block">
                                <small *ngIf="name.errors?.required && name.touched" class="text-danger">
                                    Name is required.
                                </small>                          
                                <small *ngIf="name.errors?.maxlength && name.touched" class="text-danger">
                                    Maximum of 20 characters.
                                </small>
                                <small *ngIf="name.errors?.pattern && name.touched" class="text-danger">
                                    Invalid input.
                                </small>
                            </div>                                
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group  has-required">
                            <label for="rentSell">Type</label>
                            <div class="radiobuttons_top">
                                <div class="form-group pull-left">
                                    <div class="radio_button">
                                        <input type="radio"  name="rentSell" class="" id="nf-rentslell" value="rent"  [(ngModel)]="equipment.rentSell" checked required>
                                        <label for="nf-rentslell">Rent</label>
                                    </div>
                                </div>                                
                                <div class="form-group pull-left">
                                    <div class="radio_button">                     
                                        <input type="radio" name="rentSell" class="" id="rentSell" value="sell" (click)="equipment.availableFrom={};equipment.avalibilityperiod=''"   [(ngModel)]="equipment.rentSell" required>
                                        <label for="rentSell">Sell</label>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>                   
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group " [ngClass]="{'has-required': equipment.rentSell  == 'rent'}">
                            <label for="availablefrom">Available From (dd/mm/yyyy)</label>
                             <div class="input-group form-control" [ngClass]="{'form-control': equipment.rentSell != 'sell'}">
                                <ng2-datepicker name="date" [options]="options" id="nfavailibility" name="nfavailibility" [(ngModel)]="equipment.availableFrom"  *ngIf="equipment.rentSell != 'sell'" required></ng2-datepicker> 
                                <input type="number" id="availablefrom" name="availablefrom" class="form-control nopointer" placeholder="" style="pointer-events: none;" *ngIf="equipment.rentSell == 'sell'" [disabled]="equipment.rentSell == 'sell'"  />
                             </div>                          
                        </div>
                    </div>
                      <div class="col-sm-6">
                         <div class="form-group"  [ngClass]="{'has-required': equipment.rentSell  == 'rent'}">
                            <label for="avalibilityperiod">Availability Period</label>
                            <div class="flex">                                
                                <input type="number" id="avalibilityperiod" [disabled]="equipment.rentSell == 'sell'" name="avalibilityperiod" class="form-control" #avalibilityperiod="ngModel" [(ngModel)]="equipment.avalibilityperiod" placeholder="" min="1" #avalibilityperiod="ngModel" required />
                                <div class="input-group-btn" >
                                    <select class="disable btn btn-secondary dropdown-toggle"  [disabled]="equipment.rentSell == 'sell'" [(ngModel)]="equipment.avalibilityperiodUnits" name="avalibilityperiodUnits">
                                        <option>Hour</option>
                                        <option>Days</option>
                                        <option>Week</option>
                                        <option>Month</option>
                                    </select>
                                </div>                                
                            </div> 
                            <div class="error-block">
                                 <small *ngIf="avalibilityperiod.errors?.required && avalibilityperiod.touched" class="text-danger">
                                    Availability Period is required.
                                </small>
                                <small *ngIf="avalibilityperiod.errors?.min && avalibilityperiod.touched" class="text-danger">
                                    Minimum 1 value required.
                                </small>
                            </div>                                              
                        </div>
                        <div class="error-block">
                                <small *ngIf="userid.errors?.required && userid.touched" class="text-danger">
                                    Supplier is required.
                                </small>                                                          
                            </div>    
                        </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="userid">Supplier</label>
                            <select id="userid" name="userid" class="form-control" size="1" #userid="ngModel" [(ngModel)]="equipment.user_id" required>
                                <option value="">Please select</option>
                                <option *ngFor="let seller of sellers" value="{{seller.id}}">
                                    {{seller.username}}
                                </option> 
                            </select>
                            <div class="error-block">
                                <small *ngIf="userid.errors?.required && userid.touched" class="text-danger">
                                    Supplier is required.
                                </small>                                                          
                            </div>      
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="address">Address</label>
                            <input type="text" id="address" name="address" #address="ngModel"  class="form-control" [(ngModel)]="equipment.address" placeholder="" required />
                            <div class="error-block">
                                <small *ngIf="address.errors?.required && address.touched" class="text-danger">
                                    Address is required.
                                </small>                                                          
                            </div> 
                        </div>                                    
                    </div> 
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="nf-city">City/Village</label>
                            <input type="text" id="nf-city" name="city" #city="ngModel" class="form-control" [(ngModel)]="equipment.city" placeholder="" required>
                            <div class="error-block">
                                <small *ngIf="city.errors?.required && city.touched" class="text-danger">
                                    City is required.
                                </small>                                                          
                            </div> 
                        </div>
                    </div>
                   <!--  <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="nf-district">District</label>
                            <input type="text" id="nf-district" name="district" #district="ngModel" class="form-control" [(ngModel)]="equipment.district" placeholder="" required>
                            <div class="error-block">
                                <small *ngIf="district.errors?.required && district.touched" class="text-danger">
                                    District is required.
                                </small>                                                          
                            </div> 
                        </div>
                    </div> -->
                     <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="state">State</label>
                            <select id="state" name="state" (change)="setDistrict();equipment.district=''"  [(ngModel)]="equipment.state" placeholder="" required class="form-control" size="1" #state="ngModel" required>
                                <option value="">Select State</option>
                                <option *ngFor="let state of states" [value]="state.stateName">
                                    {{state.stateName}}
                                </option>                                       
                            </select>
                            <div class="error-block">
                                <small *ngIf="state.errors?.required && state.touched" class="text-danger">
                                    State is required.
                                </small>                                                        
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="district">District</label>
                            <select id="district" name="district" [disabled]="!equipment.state"  [(ngModel)]="equipment.district" placeholder="" required class="form-control disable" size="1" #district="ngModel" required>
                                <option value="">Select District</option>
                                <option *ngFor="let district of districts" [value]="district.districtName">
                                    {{district.districtName}}
                                </option>                                       
                            </select>
                            <div class="error-block">
                                <small *ngIf="district.errors?.required && district.touched" class="text-danger">
                                    District is required.
                                </small>                                                        
                            </div> 
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="nf-pincode">Pin Code </label>
                            <input type="number" id="nf-pincode" name="pincode" #pincode="ngModel" class="form-control" [(ngModel)]="equipment.pincode" min="1" max="999999" placeholder="" required>
                            <div class="error-block">
                                <small *ngIf="pincode.errors?.required && pincode.touched" class="text-danger">
                                    Pin Code is required.
                                </small>   
                                <small *ngIf="pincode.errors?.min && pincode.touched" class="text-danger">
                                    Minimum 1 value allowed.
                                </small>
                                <small *ngIf="pincode.errors?.max && pincode.touched" class="text-danger">
                                    Maximum 6 digit allowed.
                                </small>                                                        
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group has-required relative">
                            <label for="category">Category</label>
                            <select id="category" name="category_id"  (change)="setVarieties( cat )" class="form-control wdthset" size="1" #category_id="ngModel" [(ngModel)]="equipment.category_id" required>
                                <option value="">Please select</option>                                
                                <option *ngFor="let cat of category" [value]="cat.id">
                                    {{cat.name}}
                                </option>       
                            </select>
                            <i (click)="showCategoryPrompt()" title="Add Category" class="fa fa-plus addimage"></i>
                              
                            <div class="error-block">
                                <small *ngIf="category_id.errors?.required && category_id.touched" class="text-danger">
                                    Category is required.
                                </small>                                                          
                            </div>    
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="variety">Variety</label>
                            <select id="variety" name="variety" class="form-control" [(ngModel)]="equipment.variety" size="1">
                                <option value="">Please select</option>
                                <option *ngFor="let variety of varieties" [value]="variety">
                                    {{variety}}
                                </option>                                  
                            </select>
                        </div>
                    </div>                    
                </div>
                  <div class="row">                                      
                    <div class="col-sm-6">
                        <div class="form-group  has-required relative">
                            <label for="companyManufacturer">Company/Manufacturer</label>
                            <select id="companyManufacturer" name="companyManufacturer" class="form-control wdthset" size="1" #companyManufacturer_id="ngModel" [(ngModel)]="equipment.companyManufacturer_id" required>
                                <option value="">Please select</option>
                                <option *ngFor="let mf of manufacturers" [ngValue]="mf.id">
                                    {{mf.name}}
                                </option>
                            </select>
                             <i (click)="showManufacturerPrompt()" title="Add Manufacturer" class="fa fa-plus addimage"></i>
                            <div class="error-block">
                                <small *ngIf="companyManufacturer_id.errors?.required && companyManufacturer_id.touched" class="text-danger">
                                    Company/Manufacturer is required.
                                </small>                                                          
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                         <div class="form-group">
                            <label for="modelyear">Model Year</label>
                            <select id="modelyear" name="modelyear" class="form-control" size="1" [(ngModel)]="equipment.modelyear">
                                <option value="">Please select</option>
                                <option *ngFor="let year of years" value="{{year}}">{{year}}</option>                                                                
                            </select>
                        </div>
                    </div>                    
                </div>
                <div class="row">
                  <div class="col-sm-6">
                        <div class="form-group">
                            <label for="model">Model</label>                          
                            <input type="text" id="model" name="model" class="form-control" [(ngModel)]="equipment.model" placeholder="" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="rate">Price</label>
                            <div class="flex">
                                <div class="icnposition"><i class="fa fa-rupee"></i></div>
                                <input type="number" id="rate" name="rate" min="1" class="form-control pleft25" #rate="ngModel" [(ngModel)]="equipment.rate" placeholder="" required />                                  
                                
                                <div class="input-group-btn" *ngIf="equipment.rentSell != 'sell'">
                                    <select class="btn btn-secondary dropdown-toggle" [(ngModel)]="equipment.price_unit" name="price_unit">
                                        <option>Hour</option>
                                        <option>Days</option>
                                        <option>Week</option>
                                        <option>Month</option>
                                    </select>
                                </div>

                            </div> 
                            <div class="error-block">
                                <small *ngIf="rate.errors?.required && rate.touched" class="text-danger">
                                    Price is required.
                                </small>
                                <small *ngIf="rate.errors?.min && rate.touched" class="text-danger">
                                    Minimum price should be 1.
                                </small>
                            </div>                                             
                        </div>
                    </div>
                </div>
                <div class="row">                   
                    <div class="col-sm-6">
                       <div class="form-group has-required">
                            <label for="quantity">Quantity</label>
                            <div class="input-group">                                
                                <input type="number" id="quantity" name="quantity" min="1" class="form-control" #quantity="ngModel" [(ngModel)]="equipment.quantity" placeholder="" required />
                            </div> 
                            <div class="error-block">
                                <small *ngIf="quantity.errors?.required && quantity.touched" class="text-danger">
                                    Quantity is required.
                                </small>
                            </div>                                                                 
                        </div>
                    </div>
<!--                     <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="nf-supply_ablity">Supply Ability</label>
                            <div class="radiobuttons_top">
                                <div class="form-group pull-left">
                                    <div class="radio_button">
                                        <input type="radio"  name="supply_ablity" class="" id="nf-supply_ablity" value="Yes"  [(ngModel)]="equipment.supply_ablity" checked required>
                                        <label for="nf-supply_ablity">Yes</label>
                                    </div>
                                </div>
                                <div class="form-group pull-left">
                                    <div class="radio_button">                     
                                        <input type="radio" name="supply_ablity" class="" id="supply_ablity" value="No"  (click)="equipment.supply_area='';equipment.kmrange=''" [(ngModel)]="equipment.supply_ablity" required>
                                        <label for="supply_ablity">No</label>
                                    </div>
                                </div>
                            </div>
                        </div> 
 -->                       
       <div class="col-sm-6">
                         <div class="form-group has-required">
                            <label for="nf-paymentTerms">Payment Preference</label>
                           <form class="grade">
                                <div class="btn-group">
                                    <label class="btn btn-default" [ngClass]="{'active': equipment.payment_method == 'COD'}">
                                    <input name="payment_mode" value="COD" type="radio" [(ngModel)]="equipment.payment_method">COD
                                    </label>
                                    <label class="btn btn-default" [ngClass]="{'active': equipment.payment_method == 'Cheque'}">
                                    <input name="payment_mode" value="Cheque" type="radio" [(ngModel)]="equipment.payment_method">Cheque
                                    </label>
                                    <label class="btn btn-default" [ngClass]="{'active': equipment.payment_method == 'Net Banking'}">
                                    <input name="payment_mode" value="Net Banking" type="radio" [(ngModel)]="equipment.payment_method">Net Banking
                                    </label>
                                </div>
                            </form>
                        </div>
                    </div>

            </div>
                                       
                  
                 <!--  <div class="row">                   
              
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group" [ngClass]="{'has-required': equipment.supply_ablity  == 'Yes'}">
                            <label for="supply_ablity">Supply Area</label>
                            <select id="supply_area" name="supply_area" class="form-control disable" #supply_area="ngModel" [(ngModel)]="equipment.supply_area" size="1" [disabled]="equipment.supply_ablity == 'No'" required>
                                <option value="">Please select</option>
                                <option value="Within State">Within State</option>
                                <option value="Anywhere">Anywhere</option>
                            </select>
                            <div class="error-block">
                                <small *ngIf="supply_area.errors?.required && supply_area.touched" class="text-danger">
                                    Supply Area is required.
                                </small>                                                          
                            </div> 
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group" [ngClass]="{'has-required': equipment.supply_ablity  == 'Yes'}">
                            <label for="kmrange">Supply Range (km)</label>
                            <input type="number" id="kmrange" name="kmrange" class="form-control" [(ngModel)]="equipment.kmrange" placeholder=""  #kmrange="ngModel" [disabled]="equipment.supply_ablity == 'No'" min="1" max="9999999999999998" required>
                            <div class="error-block">
                                <small *ngIf="kmrange.errors?.required && kmrange.touched" class="text-danger">
                                    Supply Range is required.
                                </small>
                                <small *ngIf="kmrange.errors?.min && kmrange.touched" class="text-danger">
                                    Minimum Range should be 1 km.
                                </small>                                                          
                                <small *ngIf="kmrange.errors?.max && kmrange.touched" class="text-danger">
                                    Maximum Range is allow upto 16 digit.
                                </small>                                                           
                            </div> 
                       </div>
                    </div>

                                              
                                        
                </div>   -->                      
                       
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group ">
                            <label for="description">Description</label>
                            <textarea type="text" id="description" name="description" class="form-control" #description="ngModel" [(ngModel)]="equipment.description" placeholder="" rows="4"></textarea>
                            <!-- <div class="error-block">
                                <small *ngIf="description.errors?.required && description.touched" class="text-danger">
                                    Description is required.
                                </small>                                                          
                            </div>     -->
                        </div>
                       
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="termsConditions">Terms & Conditions</label>
                            <textarea type="text" id="termsConditions" name="termsConditions" class="form-control" [(ngModel)]="equipment.termsConditions" placeholder="" rows="4" ></textarea>
                        </div>
                    </div>
                </div>
                 <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-image" title="You can upload maximum 5 images">Image</label>
                            <input [disabled]="!equipment.images || equipment.images.length==5" #myInput type="file" name="file-7[]" id="file-7" class="inputfile inputfile-6" data-multiple-caption="{count} files selected" imageUpload
                (imageSelected)="uploadImage($event)"
                 accept="image/jpg, image/jpeg, image/png"/>
                            <label for="file-7"><span></span> <strong><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg> Upload image</strong></label>
                            <!-- <i class="fa fa-plus addimage"></i> -->
                        </div>
                        <div class="thumbnail pointer-custom" *ngFor="let image of equipment.images" (click)="viewImage(_host+'/images/equipments/'+image)">
                            <img src="{{_host}}/images/equipments/{{image}}">
                            <i class="close fa fa-times" (click)="removeImage(image)"></i>
                        </div>
                    </div>

                    <div class="col-sm-6">
                         <div class="form-group  has-required">
                            <label for="nf-verified">Verified</label>
                            <div class="radiobuttons_top">
                                <div class="form-group pull-left">
                                    <div class="radio_button">
                                        <input type="radio"  name="verified" class="" id="nf-verified" value="Yes"  [(ngModel)]="equipment.verified" checked required>
                                        <label for="nf-verified">Yes</label>
                                    </div>
                                </div>
                                <div class="form-group pull-left">
                                    <div class="radio_button">                     
                                        <input type="radio" name="verified" class="" id="verified" value="No"  [(ngModel)]="equipment.verified" required>
                                        <label for="verified">No</label>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>        
                             
           
        </div>
         <div class="card-footer">                       
                    <button type="reset" class="btn btn-secondary whiteclr" [routerLink]="['/equipments/list']"> Cancel</button>
                    <button type="submit" class="pull-right btn btn-primary orangeclr" [disabled]="!addEquipmentForm.valid"  [class.disabled]="isClickedOnce"  (click)="isClickedOnce = true">{{action == 'Add' ? 'Save' : 'Update'}}</button>
                </div> 
                </form>
    </div> <!-- .card -->
     
</div> <!-- .equipment-wrapper -->