<!-- Loader div -->
<div *ngIf="isLoading" class="overlayloader">
    <div class="loader"></div>
</div>

<!-- <div class="equipment-wrapper animated fadeIn">       -->
<div class="equipment-wrapper">      
       
    <div class="row">
        <div class="col-lg-12">
            
            <!-- loading section -->
            <div class="aligncenter_loader" *ngIf="isPageLoading">
                <div class="is-loading"><i class="page-loader"></i></div>        
            </div>
            <!-- section ends  -->
            <ngx-flash-messages></ngx-flash-messages>
            <div class="card" *ngIf="!isPageLoading">
            <!-- <div class="card"> -->
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-3 col-12">
                                <form action="#" class="ng-untouched ng-pristine ng-valid" method="get">
                            <div class="flex">
                                <input class="form-control" name="search" (keyup)="searchEquipment($event)" [(ngModel)]="searchTerm" placeholder="Search" type="text">
                                <span class="input-group-btn">
                                <button class="btn btn-flat" id="search-btn" (click)="searchEquipment($event, 'button')" name="search" type="submit"><i class="fa fa-search"></i> </button>
                                </span>
                            </div>
                            </form>
                        </div>
                        <div class="col-sm-9 col-12 text-right linehght">
                            <button *ngIf="addEditDelete" type="button" class="btn btn-success btnadd" [routerLink]="['/equipments/add']">Add Equipment</button>
                            <div class="icns">
                                <a><img src="assets/img/pdf.png" (click)="downloadPDF()" style="cursor: pointer;" alt="pdf"></a>
                                <a (click)="downloadCSV()" style="cursor: pointer;"><img src="assets/img/xls.png" alt="pdf"></a>
                            </div>
                        </div>
                    </div> <!-- .row -->
                </div><!-- .card-header -->
                
                <div class="card-block">    
                <div class="table-responsive">                                    
                  <!--   <table class="table table-bordered table-striped table-condensed" [mfData]="data" #mf="mfDataTable"
                               [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder"> -->
                     <table class="table table-striped" [mfData]="data" 
                        #mf="mfDataTable" 
                        [mfRowsOnPage]="rowsOnPage"
                        [(mfSortBy)]="sortBy" 
                        [(mfSortOrder)]="sortOrder" 
                        [mfActivePage]="activePage" 
                        (mfOnPageChange)="onPageChange($event)"
                        [mfIsServerPagination]="true" 
                        [(mfAmountOfRows)]="itemsTotal"
                        (mfSortOrderChange)="onSortOrder($event)" >      
                        <thead>
                            <tr>
                                <th width="10%">Image</th>
                                <th width="20%">
                                    <mfDefaultSorter by="name" >Name 
                                        <i *ngIf="sortOrder == 'asc' && sortBy == 'name'" class="fa fa-sort-asc" aria-hidden="true"></i>
                                        <i *ngIf="sortOrder == 'desc' && sortBy == 'name'" class="fa fa-sort-desc" aria-hidden="true"></i>
                                    </mfDefaultSorter>
                                </th>
                                <!-- sortByUser -->
                                <th width="20%">Supplier
                                   <!--  <mfDefaultSorter by="user.firstName" >Supplier
                                        <i *ngIf="sortOrder == 'asc' && sortBy == 'user.firstName'" class="fa fa-sort-asc" aria-hidden="true"></i>
                                        <i *ngIf="sortOrder == 'desc' && sortBy == 'user.firstName'" class="fa fa-sort-desc" aria-hidden="true"></i>
                                    </mfDefaultSorter> -->
                                </th>
                                <th width="15%">
                                    <mfDefaultSorter by="district" >District
                                        <i *ngIf="sortOrder == 'asc' && sortBy == 'district'" class="fa fa-sort-asc" aria-hidden="true"></i>
                                        <i *ngIf="sortOrder == 'desc' && sortBy == 'district'" class="fa fa-sort-desc" aria-hidden="true"></i>
                                    </mfDefaultSorter>
                                </th>
                                <th width="5%">
                                    <mfDefaultSorter by="rentSell">Type
                                        <i *ngIf="sortOrder == 'asc' && sortBy == 'rentSell'" class="fa fa-sort-asc" aria-hidden="true"></i>
                                        <i *ngIf="sortOrder == 'desc' && sortBy == 'rentSell'" class="fa fa-sort-desc" aria-hidden="true"></i>
                                    </mfDefaultSorter>
                                </th>
                                <th width="10%">
                                    <mfDefaultSorter by="modelyear">Model Year 
                                        <i *ngIf="sortOrder == 'asc' && sortBy == 'modelyear'" class="fa fa-sort-asc" aria-hidden="true"></i>
                                        <i *ngIf="sortOrder == 'desc' && sortBy == 'modelyear'" class="fa fa-sort-desc" aria-hidden="true"></i>
                                    </mfDefaultSorter>
                                </th>
                                <th width="10%">
                                     <mfDefaultSorter by="quantity">Qty
                                        <i *ngIf="sortOrder == 'asc' && sortBy == 'quantity'" class="fa fa-sort-asc" aria-hidden="true"></i>
                                        <i *ngIf="sortOrder == 'desc' && sortBy == 'quantity'" class="fa fa-sort-desc" aria-hidden="true"></i>
                                    </mfDefaultSorter>
                                </th>
                                <th width="10%">
                                    <mfDefaultSorter by="rate">Price
                                        <i *ngIf="sortOrder == 'asc' && sortBy == 'rate'" class="fa fa-sort-asc" aria-hidden="true"></i>
                                        <i *ngIf="sortOrder == 'desc' && sortBy == 'rate'" class="fa fa-sort-desc" aria-hidden="true"></i>
                                    </mfDefaultSorter>
                                </th>
                                <th width="10%">Actions</th>
                            </tr>
                        </thead>                        
                        <tbody>  
                            <tr *ngIf="itemsTotal == 0">
                                <td colspan="9">No record to display</td>
                            </tr>                        
                            <tr *ngFor="let equipment of mf.data">
                                <td data-label="Image">
                                    {{!equipment.images || !equipment.images[0] ? '-' : ''}}
                                    <div class="thumbnail" *ngIf="equipment.images && equipment.images[0]">
                                        <img src="{{_host}}/images/equipments/{{equipment.images[0]}}">
                                    </div>
                                </td>                        
                                <td data-label="Name"><a href="javascript:void(0);" (click)="viewEquipment(equipment.id)">{{equipment.name}}</a></td>
                                <td data-label="Supplier">{{equipment.user?.email ? equipment.user?.email : '-'}}</td>                                
                                <td data-label="District">{{equipment.district ? equipment.district : '-' }}</td>
                                <td data-label="Type">{{equipment.rentSell ? equipment.rentSell : '-'}}</td>
                                <td data-label="Model Year">{{equipment.modelyear ? equipment.modelyear : '-'}}</td>
                                <td data-label="Qty">{{equipment.quantity ? equipment.quantity : '-' }}</td>
                                <td data-label="Price"><i class="fa fa-rupee"></i>{{equipment.rate}}<span *ngIf="equipment.rentSell == 'rent'">/{{equipment.price_unit}}</span></td>
                                <td data-label="Actions">                                    
                                    <button [disabled]="!addEditDelete" (click)="sendUpdateEquipment(equipment.id)" class="btn btn-success" title="Edit" style="padding:1px 4px"><i class="fa fa-pencil"></i></button>
                                    <button [disabled]="!addEditDelete"  (click)="removeEquipment(equipment.id)" class="btn btn-danger orange" title="Delete" style="padding:1px 4px"><i class="fa fa-trash"></i></button>                                    
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="9">
                                    <div class="pagination-section" *ngIf="itemsTotal > 0">
                                        <div class="row-on-page">
                                                <label class="label-control">Show</label>
                                                &nbsp;
                                                <select class="input-sm" name="itemsOnPage"  [(ngModel)]="itemsOnPage"  (change)="onRowsChange()">
                                                    <option [ngValue]="5">5</option>
                                                    <option [ngValue]="10">10</option>
                                                    <option [ngValue]="25">25</option>
                                                    <option [ngValue]="50">50</option>
                                                    <option [ngValue]="100">100</option>
                                                </select>
                                                &nbsp;
                                                <label class="label-control">entries</label>
                                                &nbsp; &nbsp;
                                            <span>Showing {{activePage * rowsOnPage - rowsOnPage + 1}} to {{(activePage * rowsOnPage) < itemsTotal ? (activePage * rowsOnPage):itemsTotal }} of {{itemsTotal}} entries</span>
                                            </div>
                                            <div class="text-right">
                                                <mfBootstrapPaginator></mfBootstrapPaginator>   
                                            </div>
                                        <div style="clear: both;"></div>
                                    </div>  
                                </td>    
                            </tr>                            
                        </tfoot>
                    </table>    
                    </div>                                            
                </div>
            </div>
        </div>
    </div>
</div>
