<div class="input-wrapper">
    <!-- loading section -->
    <div class="aligncenter_loader" *ngIf="isLoading">
        <div class="is-loading"><i class="page-loader"></i></div>
    </div>
    <!-- section ends  -->
    <div class="card" *ngIf="!isLoading">
        <div class="card-header">
            <div class="row">
                <div class="col-sm-3 col-12">
                    <strong>View Input</strong>
                </div>
                <div class="col-sm-9 col-12 text-right linehght">
                    <button type="button" class="btn btn-secondary" [routerLink]="['/inputs/list']">Back</button>
                    <button *ngIf="addEditDelete" type="button" class="btn btn-success pull-right" (click)="editInput(input.id)">Edit Input</button>
                    &nbsp;
                </div>
            </div>
        </div>
        <div class="card-block viewmode">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="nf-name">Name</label>
                        <p>{{input.name}}</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Channel Partner</label>
                        <p>{{input.user?.email ? input.user?.email : '-'}}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Category</label>
                        <p>{{input.category?.name}}</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="nf-variety">Variety</label>
                        <p>{{input.variety ? input.variety : '-'}}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Company/Manufacturer</label>
                        <p>{{input.manufacturer?.name ? input.manufacturer?.name : '-'}}</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="nf-price">Price</label>
                        <p><i class="fa fa-rupee"></i> {{input.price}}/{{input.priceUnit}}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="nf-grade">Quantity</label>
                        <p>{{input.quantity ? input.quantity : '-'}}</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="nf-variety">Address</label>
                        <p>{{input.address}}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="nf-variety">City</label>
                        <p>{{input.city}}</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="nf-variety">State</label>
                        <p>{{input.state}}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="nf-variety">District</label>
                        <p>{{input.district}}</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="nf-variety">Pin Code</label>
                        <p>{{input.pincode}}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="nf-termsConditions">Additional information</label>
                        <p>{{input.additionalInformation ? input.additionalInformation : '-'}}</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="nf-image">Image</label>
                    </div>
                    {{!input.images || !input.images[0] ? '-' : ''}}
                    <div class="thumbnail pointer-custom" *ngFor="let image of input.images" (click)="viewImage(_host+'/images/inputs/'+image)">
                        <img src="{{_host}}/images/inputs/{{image}}">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .card -->
</div>
<!-- .input-wrapper -->
