<!-- Loader div -->
<div *ngIf="isPageLoading" class="overlayloader">
    <div class="loader"></div>
</div>
<section class="login-page"></section>
<div class="login-box">
    <!-- /.login-logo -->
    <div class="login-box-body">
        <div class="login-logo">
            eSpares Admin
        </div>
        <div class="text-center forgotpswd">
        <h2>Password assistance</h2>
        <p>Enter the email address associated with your eSpares account.</p>
        </div>
        <form role="form" #forgotForm="ngForm" (ngSubmit)="submit()">
            <div class="text-center" *ngIf="errMessage">
                <span class="text-danger">
                    {{errMessage}}
                </span>
            </div>
            <div class="text-center" *ngIf="successMessage">
                <span class="text-success">
                    {{successMessage}}
                </span>
            </div>
            <div class="form-group has-feedback">
                <label>Email</label>
                <input type="text" name="email" class="form-control" [(ngModel)]="emailID" (ngModelChange)="errMessage=''" #email="ngModel" autofocus email required>
                <li *ngIf="email.errors && email.touched">
                    <span class="text-danger" [hidden]="!email.errors.required">Email is required.</span>
                </li>
                <li *ngIf="email.errors?.email && email.touched">
                    <span class="text-danger">Email is not valid.</span>
                </li>
            </div>
            <div class="row">
                <div class="col-sm-12 col-12">
                    <button type="submit" class="btn btn-warning btn-block btn-flat" [disabled]="!forgotForm.valid">Submit</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-12 text-right">
                    <a routerLinkActive="active" class="linktext" [routerLink]="['/admin/login']">Go Back</a>
                </div>
            </div>            
        </form>
    </div>
    <!-- /.login-box-body -->
</div>
