<div class="equipment-wrapper">
 
    <!-- loading section -->
    <div class="aligncenter_loader" *ngIf="isLoading">
        <div class="is-loading"><i class="page-loader"></i></div>        
    </div>
    <!-- section ends  -->

    <div class="card" *ngIf="!isLoading">
        <div class="card-header">
            <div class="row">
                <div class="col-sm-6 col-12">
                   <strong>View Equipment</strong>           
                </div>
                <div class="col-sm-6 col-12 text-right linehght">
                   
                   <button type="button" class="btn btn-secondary" [routerLink]="['/equipments/list']">Back</button>     
                    <button *ngIf="addEditDelete" type="button" class="btn btn-success pull-right" (click)="editEquipment(equipment.id)">Edit Equipment</button> 
                    &nbsp;    
                                          
                </div>
            </div> <!-- .row -->
        </div>
        <div class="card-block viewmode">
            <form role="form" (ngSubmit)="submitEquipment()" #addEquipmentForm="ngForm">
                
               <div *ngIf="showMessage" class="alert alert-success alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert"  (click)="closeMessage()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>Success</strong> Equipment added successfully.
                </div>
                
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group ">
                            <label for="nf-name">Equipment Name</label>
                            <p>{{equipment.name ? equipment.name : '-'}}</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group  ">
                            <label for="rentSell">Type</label>
                            <p>{{equipment.rentSell ? equipment.rentSell : '-'}}</p>
                        </div>                        
                    </div>                   
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="availablefrom">Available From</label>
                            <p>{{equipment?.availableFrom?.day ? equipment?.availableFrom?.day : '-'}} {{equipment?.availableFrom?.day ? '/' : ''}} {{equipment?.availableFrom?.month ?  equipment?.availableFrom?.month : ''}} {{ equipment?.availableFrom?.day ? ' / ' : ''}} {{equipment?.availableFrom?.year ? equipment?.availableFrom?.year : ''}} </p>
                        </div>
                    </div>
                      <div class="col-sm-6">
                         <div class="form-group">
                            <label for="avalibilityperiod">Availability Period</label>
                            <p>{{equipment?.avalibilityperiod ? equipment?.avalibilityperiod : '-'}}<span *ngIf="equipment?.avalibilityperiod"> {{equipment.avalibilityperiodUnits}}</span></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group ">
                            <label for="supplier">Supplier</label>
                            <p>{{equipment.user?.firstName ? equipment.user?.firstName : '-'}}</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group ">
                            <label for="address">Address</label>                          
                            <p>{{equipment.address ? equipment.address : '-'}}</p>
                        </div>                                    
                    </div> 
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group ">
                            <label for="nf-city">City/Village</label>
                            <p>{{equipment.city ? equipment.city : '-'}}</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group ">
                            <label for="nf-district">District</label>
                            <p>{{equipment.district ? equipment.district : '-'}}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group ">
                            <label for="nf-state">State</label>
                            <p>{{equipment.state ? equipment.state : '-'}}</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group ">
                            <label for="nf-pincode">Pin Code </label>
                            <p>{{equipment.pincode ? equipment.pincode : '-'}}</p>
                        </div>
                    </div>
                </div>
                <div class="row">                    
                    <div class="col-sm-6">
                        <div class="form-group ">
                            <label for="category">Category</label>                            
                            <p>{{equipment.category?.name ? equipment?.category?.name : '-'}}</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group ">
                            <label for="variety">Variety</label>
                            <p>{{equipment.variety ? equipment.variety : '-'}}</p>
                        </div>
                    </div>                    
                </div>
                  <div class="row">                    
                    <div class="col-sm-6">
                       <div class="form-group ">
                            <label for="companyManufacturer">Company/Manufacturer</label>
                            <p>{{equipment.companyManufacturer ? equipment.companyManufacturer.name : '-'}}</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                         <div class="form-group">
                            <label for="modelyear">Model Year</label>
                            <p>{{equipment.modelyear ? equipment.modelyear : '-'}}</p>                            
                        </div>
                    </div>                    
                </div>
                <div class="row">
                  <div class="col-sm-6">
                        <div class="form-group">
                            <label for="model">Model</label>                          
                            <p>{{equipment.model ? equipment.model : '-'}}</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group ">
                            <label for="rate">Price</label>
                            <p><i class="fa fa-rupee"></i> {{equipment.rate}}<span *ngIf="equipment.rentSell == 'rent'">/{{equipment.price_unit}}</span></p>
                        </div>
                    </div>
                </div>
                <div class="row">                   
                    <div class="col-sm-6">
                       <div class="form-group ">
                            <label for="quantity">Quantity</label>
                            <p>{{equipment.quantity ? equipment.quantity : '-'}}</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group radiobuttons_top ">
                            <label for="nf-supply_ablity">Supply Ability</label>
                            <p>{{equipment.supply_ablity ? equipment.supply_ablity : '-'}}</p>                            
                        </div> 
                    </div>
                                       
                </div>    
                  <div class="row">                   
                    <div class="col-sm-6">
                         <div class="form-group ">
                            <label for="nf-paymentTerms">Payment Preference</label>
                            <p>{{equipment.payment_method ? equipment.payment_method : '-'}}</p>
                        </div>
                    </div>
                    <div class="col-sm-3">
                         <div class="form-group" >
                            <label for="supplyarea">Supply Area</label>
                            <p>{{equipment.supply_area ? equipment.supply_area : '-'}}</p>
                        </div>
                    </div> 
                    <div class="col-sm-3">
                         <div class="form-group">
                            <label for="kmrange">Supply Range(km)</label>
                            <p>{{equipment.kmrange ? equipment.kmrange : '-'}}</p>
                        </div>
                    </div>                                 
                                        
                </div>                        
                       
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group ">
                            <label for="description">Description</label>
                            <p>{{equipment.description ? equipment.description : '-'}}</p>
                        </div>                       
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-verified">Verified</label>
                            <p>{{equipment.verified ? equipment.verified : '-'}}</p>
                        </div>
                    </div>
                </div>
                 <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-image">Image</label>
                        </div>
                        {{!equipment.images || !equipment.images[0] ? '-' : ''}}
                        <div class="thumbnail pointer-custom" *ngFor="let image of equipment.images" (click)="viewImage(_host+'/images/equipments/'+image)">
                            <img src="{{_host}}/images/equipments/{{image}}">
                        </div>
                    </div>
                </div>                                      
            </form>
        </div>
    </div> <!-- .card -->
</div> <!-- .equipment-wrapper -->