<div class="land-wrapper">
    
    <div class="card">
        <div class="card-header">
            <strong>{{action}} Land</strong>
        </div>
                    <form role="form" (ngSubmit)="submitLand()" #addlandForm="ngForm">

        <div class="card-block">
                
               <div *ngIf="showMessage" class="alert alert-success alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert"  (click)="closeMessage()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>Success</strong> Land Added Successfully.
                </div>
                
                <div class="row">
                  
                    <div class="col-sm-6">
                        <div class="form-group  has-required">
                            <label for="seller">Owner name</label>
                            <select id="seller" name="seller" class="form-control" size="1" [(ngModel)]="land.sellerId" >
                                <option value="">Please select</option>                                
                                <option *ngFor="let obj of sellers" value="{{obj.id}}">
                                    {{obj.username}}
                                </option>      
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                       <div class="form-group  radiobuttons_top44">
                            <div class="form-group pull-left">
                                <div class="radio_button">
                                    <input type="radio"  name="rentSell" class="" id="nf-rentslell" value="Lease"  [(ngModel)]="land.rentSell" checked required>
                                    <label for="nf-rentslell">Lease</label>
                                </div>
                            </div>
                           
                            <div class="form-group pull-left">
                                <div class="radio_button">                     
                                    <input type="radio" name="rentSell" class="" id="rentSell" value="Sell" (click)="land.avail_date={};land.periods=''" [(ngModel)]="land.rentSell" required>
                                    <label for="rentSell">Sell</label>
                                </div>
                            </div>
                        </div>                    
                    </div>
                </div>
                <div class="row"  >
                    <div class="col-sm-6">
                       <div class="form-group">
                           <label for="avail_date">Availability Date</label>
                             <div class="input-group form-control" [ngClass]="{'form-control': land.rentSell != 'Sell'}">
                              
                              <ng2-datepicker placeholder="DD/MM/YYYY" name="date" [options]="options" id="nfavail_date" name="nfavail_date" [(ngModel)]="land.avail_date"  *ngIf="land.rentSell != 'Sell'"></ng2-datepicker>
                                <input type="number" id="avail_date" name="avail_date" class="form-control nopointer" placeholder="" style="pointer-events: none;" *ngIf="land.rentSell == 'Sell'" [disabled]="land.rentSell == 'Sell'"  />
                            </div>
                       </div>
                   </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                                <label for="periods">Availability Period</label>
                         <div class="flex">
                            <input type="number"  id="periods" [disabled]="land.rentSell == 'Sell'" name="periods" class="form-control" [(ngModel)]="land.periods" >
                          
                          <div *ngIf="land.rentSell != 'Sell'" class="input-group-btn">
                              <select id="select3"  [disabled]="land.rentSell == 'Sell'" name="select3" class="disable btn btn-secondary dropdown-toggle"  [(ngModel)]="land.periodsunit" size="1">
                                <!-- <option value="">-Units-</option> -->
                                <option value="Day">Day</option>
                                <option value="Week">Week</option>
                                <option value="Month">Month</option>
                                <option value="Year">Year</option>
                            </select>
                         </div>
                        </div> 

                    
                        </div>

                       </div>
                </div>

                <div class="row">

                     <!-- <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="nf-category">Category</label>
                            <select id="nfcategory" name="nfcategory" class="form-control" #nfcategory="ngModel" size="1" [(ngModel)]="land.categoryId" required>
                                <option value="">Please select</option>
                                <option *ngFor="let cat of category" value="{{cat.id}}">{{cat.name}}</option>
                            </select>
                            <div class="error-block">
                                <small *ngIf="nfcategory.errors?.required && nfcategory.touched" class="text-danger">
                                    Category is required.
                                </small>                                                          
                            </div>
                        </div>
                    </div> -->
                    <div class="col-sm-6">
                        <div class="form-group  has-required">
                            <label for="nf-variety">Address</label>
                            <input type="text" id="nflocation" name="nflocation" #nflocation="ngModel" class="form-control" [(ngModel)]="land.location" required>
                           <div class="error-block">
                                <small *ngIf="nflocation.errors?.required && nflocation.touched" class="text-danger">
                                    Address is required.
                                </small>
                                
                            </div>
                        </div>
                    </div>

                     <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="nf-city">City/Village</label>
                            <input type="text" id="city" name="city" #city="ngModel" class="form-control" [(ngModel)]="land.city" placeholder=""  pattern="[a-zA-Z][a-zA-Z0-9!@#$%^&*()\s]*" required>
                            <div class="error-block">
                                <small *ngIf="city.errors?.required && city.touched" class="text-danger">
                                    City is required.
                                </small>   
                                <small *ngIf="city.errors?.pattern && city.touched" class="text-danger">
                                    City/Village is required.
                                </small>                                                        
                            </div> 
                        </div>
                    </div>

                </div>
                <div class="row">
                   
                    <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="state">State</label>
                            <select id="state" name="state" (change)="setDistrict();land.district='';"  [(ngModel)]="land.state" placeholder="" required class="form-control" size="1" #state="ngModel" required>
                                <option value="">Select State</option>
                                <option *ngFor="let state of states" [value]="state.stateName">
                                    {{state.stateName}}
                                </option>                                       
                            </select>
                            <div class="error-block">
                                <small *ngIf="state.errors?.required && state.touched" class="text-danger">
                                    State is required.
                                </small>                                                        
                            </div> 
                        </div>
                    </div>
                     <div class="col-sm-6">
                        <div class="form-group has-required">
                            <label for="district">District</label>
                            <select id="district" name="district" [disabled]="!land.state" [(ngModel)]="land.district" placeholder="" required class="form-control disable" size="1" #district="ngModel" required>
                                <option value="">Select District</option>
                                <option *ngFor="let district of districts" [value]="district.districtName">
                                    {{district.districtName}}
                                </option>                                       
                            </select>
                            <div class="error-block">
                                <small *ngIf="district.errors?.required && district.touched" class="text-danger">
                                    District is required.
                                </small>                                                        
                            </div> 
                        </div>
                    </div>

                </div>
                <div class="row">
               

                  <div class="col-sm-6">
                    <div class="form-group has-required">
                        <label for="nf-password">Khasra No</label>
                        <input type="number" id="nfkhasra" name="nfkhasra" #nfkhasra="ngModel" class="form-control" [(ngModel)]="land.khasra_no" required maxlength="20">
                        <div class="error-block">
                                <small *ngIf="nfkhasra.errors?.required && nfkhasra.touched" class="text-danger">
                                    Khasra No is required.
                                </small>
                                <small *ngIf="nfkhasra.errors?.min && nfkhasra.touched" class="text-danger">
                                    Minimum khasra No should be 1.
                                </small>                                                          
                                <small *ngIf="nfkhasra.errors?.max && nfkhasra.touched" class="text-danger">
                                    Maximum khasra No is allow upto 16 digit.
                                </small>                                                           
                         </div>
                    </div>
                </div>
                 <div class="col-sm-6">
                   <div class="form-group has-required">
                    <label for="nf-qty">Area</label>
                     <div class="flex">
                     
                         <input type="text" id="nfarea" name="nfarea"  class="form-control" aria-label="Text input with dropdown button" [(ngModel)]="land.area"  required #nfarea="ngModel">
                        
                          <div class="input-group-btn">
                              <select id="select2" name="select2" class="btn btn-secondary dropdown-toggle"  [(ngModel)]="land.unit" size="1" required>
                                <!-- <option value="">-Units-</option> -->
                                <option value="Ft">Sq.Ft</option>
                                <option value="Yards">Sq. Yards</option>
                                <option value="Meter">Sq. Meter</option>
                            </select>
                         </div>
                         
                       </div>  
                        <div class="error-block">
                                <small *ngIf="nfarea.errors?.required && nfarea.touched" class="text-danger">
                                    Area is required.
                                </small>
                                <small *ngIf="nfarea.errors?.min && nfarea.touched" class="text-danger">
                                    Minimum offer area should be 1.
                                </small>                                                          
                                <small *ngIf="nfarea.errors?.max && nfarea.touched" class="text-danger">
                                    Maximum offer area is allow upto 16 digit.
                                </small>                                                         
                            </div>                    
                   </div>
                   </div>

                  
                </div>
                 

                 <div class="row">  
                     
                   
                    <div class="col-sm-6">
                    <div class="form-group has-required">
                            <label for="nf-price">Expected price </label>
                            <div class="flex">
                                <div class="icnposition"><i class="fa fa-rupee"></i></div>
                                <input maxlength="10" #nfexpected_price="ngModel"  type="number" id="nfexpected_price" name="nfexpected_price" class="form-control pleft25" [(ngModel)]="land.expected_price" required>
                               
                                <div *ngIf="land.rentSell == 'Sell'" class="input-group-btn">
                              <!-- <select id="select3" [disabled]="land.rentSell == 'Sell'" name="select3" class="btn btn-secondary dropdown-toggle"  [(ngModel)]="land.priceunit" size="1" required> -->
                              <select id="select3" name="select3" class="btn btn-secondary dropdown-toggle"  [(ngModel)]="land.priceunit" size="1" >
                                <!-- <option value="">-Units-</option> -->
                                <option value="Day">Per Day</option>
                                <option value="Week">Per Week</option>
                                <option value="Month">Per Month</option>
                                <option value="Year">Per Year</option>
                            </select>
                         </div>
                            </div>  
                             <div class="error-block">
                                <small *ngIf="nfexpected_price.errors?.required && nfexpected_price.touched" class="text-danger">
                                    Expected price is required.
                                </small>
                                <small *ngIf="nfexpected_price.errors?.min && nfexpected_price.touched" class="text-danger">
                                    Minimum Expected price should be 1.
                                </small>                                                          
                                <small *ngIf="nfexpected_price.errors?.max && nfexpected_price.touched" class="text-danger">
                                    Maximum Expected price is allow upto 16 digit.
                                </small>                                                           
                            </div>

                            

                        </div>
                    </div>

                    <div class="col-sm-6">
                         <div class="form-group  has-required">
                            <label for="nf-verified">Verified</label>
                            <div class="radiobuttons_top">
                                <div class="form-group pull-left">
                                    <div class="radio_button">
                                        <input type="radio"  name="verified" class="" id="nf-verified" value="Yes"  [(ngModel)]="land.verified" checked required>
                                        <label for="nf-verified">Yes</label>
                                    </div>
                                </div>
                                <div class="form-group pull-left">
                                    <div class="radio_button">                     
                                        <input type="radio" name="verified" class="" id="verified" value="No"  [(ngModel)]="land.verified" required>
                                        <label for="verified">No</label>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                    
                </div>
                 
                  <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-description">Description</label>
                            <textarea type="text" id="nf-description" name="nf-description" class="form-control" [(ngModel)]="land.description" rows="4"></textarea>
                        </div>
                    </div>
                
                
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-termsConditions">Terms & Conditions</label>
                            <textarea type="text" id="nf-termsConditions" name="nf-termsConditions" class="form-control" [(ngModel)]="land.term_condition" rows="4" ></textarea>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nf-image" title="You can upload maximum 5 images">Image</label>
                            <input [disabled]="!land.images || land.images.length==5" #myInput type="file" name="file-7[]" id="file-7" class="inputfile inputfile-6" data-multiple-caption="{count} files selected" imageUpload
                (imageSelected)="uploadImage($event)"
                 accept="image/jpg, image/jpeg, image/png"/>
                            <label for="file-7"><span></span> <strong><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg> Upload image</strong></label>
                            <!-- <i class="fa fa-plus addimage"></i> -->
                        </div>
                        <div class="thumbnail pointer-custom" *ngFor="let image of land.images" (click)="viewImage(_host+'/images/lands/'+image)">
                            <img src="{{_host}}/images/lands/{{image}}">
                            <i class="close fa fa-times" (click)="removeImage(image)"></i>
                        </div>
                    </div>
                </div>
                
          
        </div>

        <div class="card-footer">
                    <button type="reset" class="btn btn-secondary whiteclr" [routerLink]="['/land/list']"> Cancel</button>
                    <button type="submit" class="pull-right btn btn-primary orangeclr" [disabled]="!addlandForm.valid">{{Id ? 'Update' : 'Save'}}</button>
                    
                </div>
                </form>  
    </div> <!-- .card -->
</div> <!-- .inputs-wrapper -->